venv
venv3.8
bin
lib/
local/
share/
include/
org/
staticfiles
qubiqle/local_settings.py
qubiqle/management/commands/dev.py
.pipcache
**/*.pyc
**/.idea


pycharm*
docker-debug.py
helpers/


.DS_Store
rdms_sync.csv
*.rdb
.vscode

# Vim swap files
*.swp
*.swo


.env
.python-version
